.demo-table {
  width: 100%;
}

.demo-button-container { /*cadastrar aluno*/
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-add {
    background-color: green;
    padding: 40px;
   
    align-content:  left;
    justify-content: center;
    border-radius: 20px;
}
